@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}
body.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll;
}
